.formBody {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    direction: rtl;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    gap: var(--primary-gap);
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--secondary-gap);
    font-weight: 500;
}

.input {
    display: flex;
    height: 56px;
    padding: 8px 24px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    /* color: #96A0AD; */
    border: 0.889px solid rgba(189, 196, 205, 0.85);
    background: var(--Trinty, #F0F0F0);
    font-family: Cairo;
    font-weight: 600;

}
