 :root {
     --primary-color: #1D3149;
     --secondary-color: #f0f0f0;
     --other-white: #fbfcfe;

     --primary-gap: 20px;
     --secondary-gap: 11px;

     /*    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg);
    --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080);

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;*/
 }



 @media (prefers-color-scheme: dark) {
     /*    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(to bottom right,
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0.3));

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(#ffffff80,
                #ffffff40,
                #ffffff30,
                #ffffff20,
                #ffffff10,
                #ffffff10,
                #ffffff80);

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }*/
 }

.theme {
    transition: 0.5s all ease-in-out;
}

.light {
    --backgrounds-active-pagination-bg: #1d3149;
    --backgrounds-bg: #fef8f4;
    --backgrounds-card-bg: #ffffff;
    --backgrounds-highlight-bg: #ffe9dd;
    --backgrounds-nav-mobile-header: #fef8f4;
    --backgrounds-pagination-bg: #ffeee4;
    --backgrounds-success-tag: #28a745;
    --backgrounds-tag-bg: #ffe9dd;
    --backgrounds-reply-card-bg: #f7f8f9;
    --backgrounds-users-bg: #f2e7e0;
    --charts-chart-col-stroke: #ffffff;
    --charts-chart-main-num: #aa4c16;
    --charts-charts-bg-01: #ff9c64cc;
    --charts-charts-bg-02: #ff9d64;
    --charts-charts-bg-03: #ffbe99;
    --charts-charts-bg-04: #ffdecc;
    --side-bar-line: #fff4ee;
    --side-bar-sidebar-active-text: #1d3149;
    --side-bar-sidebar-bg: #ffffff;
    --side-bar-sidebar-text: #4d4d4d;
    --stroke-choice-stroke: #4d4d4d66;
    --stroke-choosed-stroke: #1d3149;
    --stroke-users-stroke: #fef8f4;
    --text-2nd-title-text: #4d4d4d99;
    --text-active-pagination-text: #ffffff;
    --text-alerts: #1d3149;
    --text-pagination-text: #1d3149;
    --text-success-tag-text: #ffffff;
    --text-tag-tex: #1d3149;
    --text-title-text: #1d3149;
    --text-describtion-text: #4d4d4dcc;
    --text-users-text: #ff6d18;}

.dark {
    --backgrounds-active-pagination-bg: #ffceb2;
    --backgrounds-bg: #292929;
    --backgrounds-card-bg: #3c3c3c;
    --backgrounds-highlight-bg: #ffceb2;
    --backgrounds-nav-mobile-header: #292929;
    --backgrounds-pagination-bg: #3c3c3c;
    --backgrounds-success-tag: #1e7b33;
    --backgrounds-tag-bg: #ffceb2;
    --backgrounds-reply-card-bg: #292929;
    --backgrounds-users-bg: #ffceb2;
    --charts-chart-col-stroke: #3c3c3c;
    --charts-chart-main-num: #e58d5a;
    --charts-charts-bg-01: #e58d5a;
    --charts-charts-bg-02: #e58d5a;
    --charts-charts-bg-03: #e5aa87;
    --charts-charts-bg-04: #e5c8b7;
    --side-bar-line: #ffceb266;
    --side-bar-sidebar-active-text: #3c3c3c;
    --side-bar-sidebar-bg: #3c3c3c;
    --side-bar-sidebar-text: #ffffff;
    --stroke-choice-stroke: #4d4d4d;
    --stroke-choosed-stroke: #292929;
    --stroke-users-stroke: #282828;
    --text-2nd-title-text: #ffffffcc;
    --text-active-pagination-text: #3c3c3c;
    --text-alerts: #fbfcfe;
    --text-pagination-text: #ffffffcc;
    --text-success-tag-text: #ffffff;
    --text-tag-tex: #3c3c3c;
    --text-title-text: #fbfcfe;
    --text-describtion-text: #ffffffcc;
    --text-users-text: #3c3c3c;
}


 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html,
 body {
     min-width: 100vw;
     overflow-x: hidden;
 }

 body {
     /* color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
     background-color: var(--primary-color);
 }


/*
body.ltr {
    text-align: ltr;
}

 body.rtl {
    direction: rtl;
} */


 .container {
     /* max-width: 1100px; */
     min-height: 100vh;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     /* padding: 40px; */
 }

 .loginContainer {
     display: flex;
     /* flex-direction: column; */
     align-items: center;
     justify-content: center;
     padding-top: 40px;
     /* background-color: var(--primary-color); */
 }

 @media (max-width: 500px) {
     body {
         background-color: var(--secodary-color);
     }

     .container {
         padding: 5px;
         background-color: var(--secondary-color);
     }

 }

 /* 
a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */