[data-theme="Light"] {
    /* color */
    --backgrounds-active-pagination-bg: #1d3149;
    --backgrounds-bg: #fef8f4;
    --backgrounds-card-bg: #ffffff;
    --backgrounds-highlight-bg: #ffe9dd;
    --backgrounds-nav-mobile-header: #fef8f4;
    --backgrounds-pagination-bg: #ffeee4;
    --backgrounds-success-tag: #28a745;
    --backgrounds-tag-bg: #ffe9dd;
    --backgrounds-reply-card-bg: #f7f8f9;
    --backgrounds-users-bg: #f2e7e0;
    --charts-chart-col-stroke: #ffffff;
    --charts-chart-main-num: #aa4c16;
    --charts-charts-bg-01: #ff9c64cc;
    --charts-charts-bg-02: #ff9d64;
    --charts-charts-bg-03: #ffbe99;
    --charts-charts-bg-04: #ffdecc;
    --side-bar-line: #fff4ee;
    --side-bar-sidebar-active-text: #1d3149;
    --side-bar-sidebar-bg: #ffffff;
    --side-bar-sidebar-text: #4d4d4d;
    --stroke-choice-stroke: #4d4d4d66;
    --stroke-choosed-stroke: #1d3149;
    --stroke-users-stroke: #fef8f4;
    --text-2nd-title-text: #4d4d4d99;
    --text-active-pagination-text: #ffffff;
    --text-alerts: #1d3149;
    --text-pagination-text: #1d3149;
    --text-success-tag-text: #ffffff;
    --text-tag-tex: #1d3149;
    --text-title-text: #1d3149;
    --text-describtion-text: #4d4d4dcc;
    --text-users-text: #ff6d18;
}

[data-theme="Dark"] {
    /* color */
    --backgrounds-active-pagination-bg: #ffceb2;
    --backgrounds-bg: #292929;
    --backgrounds-card-bg: #3c3c3c;
    --backgrounds-highlight-bg: #ffceb2;
    --backgrounds-nav-mobile-header: #292929;
    --backgrounds-pagination-bg: #3c3c3c;
    --backgrounds-success-tag: #1e7b33;
    --backgrounds-tag-bg: #ffceb2;
    --backgrounds-reply-card-bg: #292929;
    --backgrounds-users-bg: #ffceb2;
    --charts-chart-col-stroke: #3c3c3c;
    --charts-chart-main-num: #e58d5a;
    --charts-charts-bg-01: #e58d5a;
    --charts-charts-bg-02: #e58d5a;
    --charts-charts-bg-03: #e5aa87;
    --charts-charts-bg-04: #e5c8b7;
    --side-bar-line: #ffceb266;
    --side-bar-sidebar-active-text: #3c3c3c;
    --side-bar-sidebar-bg: #3c3c3c;
    --side-bar-sidebar-text: #ffffff;
    --stroke-choice-stroke: #4d4d4d;
    --stroke-choosed-stroke: #292929;
    --stroke-users-stroke: #282828;
    --text-2nd-title-text: #ffffffcc;
    --text-active-pagination-text: #3c3c3c;
    --text-alerts: #fbfcfe;
    --text-pagination-text: #ffffffcc;
    --text-success-tag-text: #ffffff;
    --text-tag-tex: #3c3c3c;
    --text-title-text: #fbfcfe;
    --text-describtion-text: #ffffffcc;
    --text-users-text: #3c3c3c;
}