.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);

}

.smallTitle {
    width: fit-content;
    padding: 2px 7px;
    border-radius: 5px;
    background: #FFEEE3;
}